corpus
!corpus/Sort07
!corpus/Sort09
!corpus/Sort10
**/dljc-out
**/.DS_Store
**/*.pyc
**/*.class
**/bixie.log
**/__java_file_names.txt
.git
tools
libs
map2annotation/checkstyle
map2annotation/multiDeclRefactor
kernel_directory
mini
results
restricted
c2f.json
clusters.json