# if you are on a mac.
**/.DS_Store

**/*.pyc

corpus
libs/*
do-like-javac
tools

dynamic_analysis/dljc/bin/__randoop_files/

type_inference/annotation-tools/
type_inference/checker-framework-inference/
type_inference/checker-framework/
type_inference/dataflowexample
type_inference/generic-type-inference-solver/
type_inference/jsr308-langtools/
type_inference/do-like-javac/
corpus/annotated/
corpus/**/logs/
**/*.jaif
**/__java_file_names.txt
word_based_field_clusters.json

# Pycharm
.idea/*

TODO_*.*
**/*.inv.gz
invClass/

c2f.json
clusters.json
kernel_directory/
mini/
results/

# map2annotation
map2annotation/checkstyle/
map2annotation/multiDeclRefactor/