# if you are on a mac.
.DS_Store

# Pycharm
.idea/*

# Python bytecode
*.pyc

# Things we download
libs
tools
corpus

# Things we generate
results
map2annotation/checkstyle/
map2annotation/multiDeclRefactor/

# TODO - figure out how to put this in the right place
class_info.json